body {
.masthead {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/Backgrounds/achtergrond11-min.jpg');
  background-position: center center;
  background-size: cover;

}

  .title-primary {
    font-family: 'Tangerine', cursive;
    font-size: 10rem;
    color: black;
    border: solid 3px;
    background-image: url("/img/Backgrounds/solidyellow.jpeg");




  }
  .title-secondary {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    border-left: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-color: black;
    background-image: url("/img/Backgrounds/solidblue.jpeg");

  }

  #titlecontainer {
    position:relative;
    display:table;
    margin: auto;

  }




  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 7.5rem;
    }
  }

}

