body {
  font-family: Arial;
  margin: 0;
  color: $white;
}
#portfolio {
  background-image: url('/img/Backgrounds/achtergrond12-min.jpg');
  background-size: cover;

  .btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }

  #image-gallery .modal-footer{
    display: block;
  }

  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .gallery {
    margin: 10px 50px;
  }
  .gallery img{
    transition: 1s;
    padding: 5px;
    width: 100px;
  }
  .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
  }
}
